body{
    font-family: 'Source Sans Pro', sans-serif ;
}
.th-style{
    text-align: center ;
}
.btn-add-university{
    float: left ;
    padding: 0;
}
.form-search{
    float: right ;
    padding: 0;
    padding-bottom: 15px ;
}
th{
    background-color: #353866;
    color: #fff;
}